mixin fiddletize(snippet)
  div
    | Want to play around with this snippet?
    form(action="https://codepen.io/pen/define", method='post', target="_blank", style="display: inline;")
      input(type="hidden", name="data", value='{"html":#{JSON.stringify(snippet)}}')
      input.edit-fiddle(type="submit", value="")

div#widget-embedded.widget-tut()
  .snippet-header Copy this HTML/JS code on your website...
  pre(class="prettyprint")
    code #{include_snippet('embedded')}
  mixin fiddletize(include_snippet('embedded'))