mixin fiddletize(snippet)
  div
    | Want to play around with this snippet?
    form(action="https://codepen.io/pen/define", method='post',  style="display: inline;")
      input(type="hidden", name="data", value='{"html":#{JSON.stringify(snippet)}}')
      input.edit-fiddle(type="submit", )

div#widget-login.widget-tut()
  .snippet-header Copy this HTML/JS code on your website...
  pre(class="prettyprint")
    code #{include_snippet('login')}
  mixin fiddletize(include_snippet('login'))

script(src=env.BASE_URL + '/js/prettify.js')
