div#api2-explorer

script.
  jQuery.browser = jQuery.browser || {};
  (function () {
      jQuery.browser.msie = jQuery.browser.msie || false;
      jQuery.browser.version = jQuery.browser.version || 0;
      if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
          jQuery.browser.msie = true;
          jQuery.browser.version = RegExp.$1;
      }
  })();
script(type="text/javascript", src="https://cdn.auth0.com/api2-explorer/api2-explorer.min.js")
script(type="text/javascript", src="https://cdn.auth0.com/api2-explorer/api2-explorer.proxy.js")
link(rel="stylesheet", href="https://cdn.auth0.com/api2-explorer/api2-explorer.css", type="text/css")

script.
  require(['api2-explorer.proxy'], function () {
    var api2_explorer = require('api2-explorer.proxy');
    api2_explorer({
      el:             $('#api2-explorer'),
      clientId:       '#{globalClientID}',
      clientSecret:   '#{globalClientSecret}',
      api2Domain:   '#{api2Domain}'
    });
  });